#preview {
    margin-top: 5px;
    width: 100%;
    height: 50px;
}
#image {
}
h3 {
    text-shadow: 2px 1px;
    text-align: center;
    color: rgb(15, 179, 204);
}
.container {
    width: 80%;
    margin: 0px 10%;
}
